# Data Definition Language

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema.
List of DDL Commands
1. Create
2. Drop 
3. Alter
4. Truncate
5. Comment
6. Rename

*This exercise will guide you in creating and manipulating databases,tables and columns.*
***

Write a query to create a database called **abc_stores**

Write the query to make the database active

Create a table called **products** in the with the following columns

| Column   | DataType | Constraints |
|----------|----------|-------------|
| ID       | INT(11)  | PK,AUTO_INC |
| name     | TEXT     | NOT NULL    |
| price    | INT      | NOT NULL    |
| desc     | TEXT     | -           |
| featured | INT      | -           |
| image    | LONGTEXT | NULL        |

Query the database to describe the table **products**

Insert the following records into the table **products**
|      Name        |  price  |       desc         | featured |    image    |
|------------------|---------|--------------------|----------|-------------|
| TShirt           | 52000   | TM Lewin Shirt     |    1     | null        |
| Belt             | 8820    | Original leather   |    0     | null        |
| Cap              | 5000    | Silk leather cap   |    1     | null        |

Wrtie a query to modify the products table to include the columns below
| Column   | DataType | Constraints |
|----------|----------|-------------|
| tags     | TEXT     |             |
| status   | ENUM(active,inactive)  ||
| data     | TEXT  ||

Describe the products table

Remove the data column

Describe the products table

Add a comment to the price column that says "Sales price"

Describe the products table

Change the table name from "products" to "product"

Remove all data in the product table

Remove the product table

***
#### The End